<%= form_with model: [ current_user, @item ] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </div>
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ["Ready to Start", "In Progress", "Paused", "Finished"] %>
  </div>
  <div>
    <%= form.label :link %><br>
    <%= form.url_field :link %>
  </div>
  <div>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
