<%= render "nav" %>

<header>
  <h1><%= current_user.first_name %>'s tbd</h1>
  <p>Here you can place everything that needs to be done, including reading, watching, or listening to something.</p>
</header>

<main>
  <%= render "item_section", item_type: "Book" %>
  <%= render "item_section", item_type: "TvShow" %>
  <%= render "item_section", item_type: "Movie" %>
  <%= render "item_section", item_type: "Music" %>
</main>
