<%= render "nav" %>

<header>
  <h1><%= format_type(@type) %></h1>
</header>

<%= form_with url: polymorphic_path([current_user, @type.underscore.pluralize.to_sym]), method: :get do |form| %>
  <% ["Ready to Start", "In Progress", "Paused", "Finished"].each do |status| %>
    <%= check_box_tag "status[]", status, params[:status] && status.in?(params[:status]),
        { id: status.parameterize } %>
    <%= label_tag status.parameterize, status %>
  <% end %>
  <%= form.submit "Filter" %>
<% end %>

<main>
  <% @items.each do |item| %>
    <%= render "item", item: item %>
  <% end %>
</main>
