<h1>New Item</h1>

<%= form_with model: @item, url: user_items_path(current_user) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </div>
  <div>
    <%= form.label :status %><br>
    <%= form.text_field :status %>
  </div>
  <div>
    <%= form.label :link %><br>
    <%= form.text_field :link %>
  </div>
  <div>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </div>
<% end %>
