<%= render "nav" %>

<h1><%= @item.name %></h1>
<p><%= @item.status %></p>
<%= link_to "Edit", [:edit, current_user, @item] %>
<%= link_to "Destroy", [current_user, @item], method: :delete,
    data: { confirm: "Are you sure?" } %>
